* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    background-color: rgb(208, 211, 211);
    border-radius: 7px;
}


.website-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.website-name svg {
    padding-right: 10px;
}

.website-register-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-details {
    display: flex;
    padding: 8px 85px;
    border-radius: 10px;
    border: 1.5PX solid rgb(151, 152, 153);
    font-size: medium;
    font-weight: 600;
    font-style: italic;
    color: rgb(35, 35, 35);
    margin: 10px;
}

#login-details:hover {
    color: white;
    background-color: rgb(151, 152, 153);
}

#user-email,
#signup-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 80px;
    border-radius: 10px;
    border: 1.5PX solid rgb(151, 152, 153);
    font-size: medium;
    font-weight: 600;
    font-style: italic;
    color: rgb(41, 41, 41);
    margin: 10px;
}

#signup-details:hover {
    color: white;
    background-color: rgb(151, 152, 153);
}

#user-email {
    padding: 8px 20px;
    color: rgb(58, 58, 58);
}


#user-email:hover {
    color: white;
    background-color: rgb(151, 152, 153);
}

#user-password {
    display: flex;
    padding: 8px 20px;
    border-radius: 10px;
    border: 1.5PX solid rgb(151, 152, 153);
    font-size: medium;
    font-weight: 600;
    font-style: italic;
    color: rgb(58, 58, 58);
    margin: 10px;
}


#user-password:hover {
    color: white;
    background-color: rgb(151, 152, 153);
}

#next-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    border-radius: 10px;
    border: 1.5PX solid rgb(151, 152, 153);
    font-size: medium;
    font-weight: 600;
    font-style: italic;
    color: rgb(58, 58, 58);
    margin: 10px;
    gap: 1rem;
    cursor: pointer;
}

#next-page {
    color: white;
    background-color: rgb(202, 55, 55);
}

#creating-access {
    display: flex;
    flex-direction: column;
}