*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(231, 231, 234);
}

.age-calculator-in-years{
    border: 5px solid rgb(96, 95, 95);
    border-radius: 20px;
    padding: 30px;
    background-color: white;
}

.age-calculator-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    font-size: large;
    font-weight: 500;
}

#age-in-years{
    padding: 7px 10px;
    margin: 10px;
    width: 300px;
}

#calculatebtn{
    /* display: flex;
    flex-direction: column; */
    /* align-items: center;
    justify-content: center; */
    /* display: none; */
    margin: 10px 150px;
    padding: 7px;
    width: 100px;
    background-color: darkslateblue;
    border: none;
    border-radius: 5px;
    color: rgb(240, 247, 247);
    cursor: pointer;
}

#calculatebtn:hover{
    background-color: rgb(15, 10, 49);
    color: white;
}